<div class="container">
<h1 class = "title">Listing Remainders</h1>

<table class= "table table-bordered wrapper">
  <thead>
    <tr>
      <th>Name</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Remainder time</th>
      <th>Schedule interval</th>
      <th>Message</th>
      <th>Group</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @remainders.each do |remainder| %>
      <tr>
        <td><%= remainder.name %></td>
        <td><%= remainder.start_date %></td>
        <td><%= remainder.end_date %></td>
        <td><%= remainder.remainder_time %></td>
        <td><%= remainder.schedule_interval %></td>
        <td><%= remainder.message %></td>
        <td><%= remainder.group %></td>
        <td><%= remainder.status %></td>
        <td><%= link_to 'Show', remainder %></td>
        <td><%= link_to 'Edit', edit_remainder_path(remainder) %></td>
        <td><%= link_to 'Destroy', remainder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Remainder', new_remainder_path, class: "btn btn-success" %>
</div>