<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @remainder.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @remainder.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @remainder.end_date %>
</p>

<p>
  <strong>Remainder time:</strong>
  <%= @remainder.remainder_time %>
</p>

<p>
  <strong>Schedule interval:</strong>
  <%= @remainder.schedule_interval %>
</p>

<p>
  <strong>Message:</strong>
  <%= @remainder.message %>
</p>

<p>
  <strong>Status:</strong>
  <%= @remainder.status %>
</p>

<%= link_to 'Edit', edit_remainder_path(@remainder) %> |
<%= link_to 'Back', remainders_path %>